* {
    all: unset;
    font-weight: bold;
    font-family: "monospace";
}

$bg: #1e1e2e;
$bg-light: #313244;
$fg: #cdd6f4;
$active: #89b4fa;
$unactive: #181825;

.bar {
    padding: 0 0;
    background-color: var(--window-fg-color);
    color: $fg;
}

.middle-separator {
    background-color: $bg-light;
    padding: 0 1px;
}

.volume-slider trough {
    min-width: 100px;
    background-color: gray;
    min-height: 0.3rem;
    border-radius: 0;

    highlight {
        background-color: $active;
    }

    slider {
        background-color: $fg;
        min-height: 20px;
        min-width: 20px;
        margin: -8px;
        border-radius: 0;
    }
}

.workspace {
    border-radius: 0;
    padding: 0 0rem;
    transform: scale(1);
    min-width: 30px;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        padding 0.3s ease-in-out,
        transform 0.2s ease-in-out,
        min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.2s ease-in-out;
}

.workspace:hover {
    background-color: lighten($bg, 10%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.workspace.active {
    background-color: $active;
    color: $bg;
    padding: 0 0.5rem;
    font-size: 100%;
    min-width: 60px;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(137, 180, 250, 0.3);
}

.tray-item {
    all: unset;
}

.clock {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

popover.menu {
    contents {
        background-color: $bg;
        padding: 0.35rem;
        border-radius: 1rem;
        modelbutton {
            transition: 0.3s;
            border-radius: 0.5rem;
            padding: 0.25rem 1rem;
        }
        modelbutton:hover {
            background-color: mix($bg, $unactive, 80%);
        }
        separator {
            background-color: mix($bg, $unactive, 90%);
            min-height: 0.1rem;
            margin: 0.5rem 0;
        }

        label:disabled {
            color: $unactive;
        }

        arrow {
            opacity: 0.3;

            &:hover {
                background: none;
            }

            &.left {
                -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
            }

            &.right {
                -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
            }
        }
    }
}
