@use "sass:string";
@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
};

$radius: 10px;
$bg-color: #191724;    //$bg-color: #1e1e2e;
$fg-color: #e0def4;    //$fg-color: #cdd6f4;
$accent: #31748f;         //$accent: #89b4fa;
$error: #eb6f92;          //$error: #f38ba8;

window.TopBar {
    background: $bg-color;
    color: $fg-color;
    font-family: "Quicksand", monospace;
    font-weight: normal;
    font-size: 15px;

    .Media {
        border-radius: $radius;
        background: $bg-color;
        margin: 2px;
        border-color: $bg-color;
    }

    .SysTray {
        border-radius: $radius;
        background: $bg-color;
        border-color: $bg-color;
    }

    button {
        margin: 0px;
	    border-radius: $radius;
        background: $bg-color;
        border-color: $bg-color;
        &.focused {
            background: $accent;
            color: $bg-color;
            border-color: $accent;
        }
        &:hover {
            background: $accent;
            color: $bg-color;
            border-color: $accent;
        }
    }

    .RoundWidget {
        border-radius: $radius;
        background: $bg-color;
        border-color: $bg-color;
        padding: 0; margin: 0;
        button {
            margin: 2px;
            background: $bg-color;
            border-color: $bg-color;
            &.focused {
                background: $accent;
                color: $bg-color;
                border-color: $accent;
            }
            &:hover {
                background: $accent;
                color: $bg-color;
                border-color: $accent;
            }
        }
    }
}

// Notifications SCSS

window.NotificationPopups {
    all: unset;
}

eventbox.Notification {
    > box {
        min-width: 400px;
        border-radius: $radius;
        background-color: $bg-color;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);
        border: 1pt solid gtkalpha($fg-color, 0.03);
    }

    &.critical > box {
        border: 1pt solid gtkalpha($error, 0.4);

        .header {
            .app-name {
                color: gtkalpha($error, 0.8);
            }

            .app-icon {
                color: gtkalpha($error, 0.6);
            }
        }
    }

    .header {
        padding: 0.5rem;
        color: gtkalpha($fg-color, 0.5);

        .app-name {
            font-weight: bold;
        }

        button {
            padding: 0.2rem;
            min-width: 0;
            min-height: 0;
        }
    }

    separator {
        background-color: gtkalpha($fg-color, 0.1);
    }

    .content {

        .summary {
            font-size: 1.2em;
            color: $fg-color;
        }

        .body {
            color: gtkalpha($fg-color, 0.8);
        }

        .image {
            border: 1px solid gtkalpha($fg-color, 0.02);
            border-radius: 9px;
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
        }
    }
}

// On-Screen Display
window.OSD {
    box.OSD {
        border-radius: $radius;
        background-color: $bg-color;
        padding: 7px 8px;
        margin: 7px;
    }

    icon { font-size: 2rem; }

    label { font-size: 1.2rem; }

    levelbar { trough { margin: 1.6rem; } block { min-height: 1rem; } }
}