window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
    /*transition-property: background-color;
    transition-duration: .5s;*/
    font-family: "JetBrains Mono NF", monospace;
}

.module {
    background-color: #29293e;
    margin: 5px 5px;
    border-radius: 10px;
    padding: 0 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border-radius: 10px;
    margin: 5px 5px;
    transition-property: background-color, color;
    transition-duration: .5s;
}

#workspaces button.active,
#workspaces button.urgent {
    background-color: #8bb6f3;
    color: #1e1e2e;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#workspaces button:hover {
    background-color: #fff;
    color: #000;
}

